body {
    width: 100vw;
    font-family: 'Smythe';
    font-weight: 400;
    font-size: 1.25rem;
    position: relative;
}

#container {
    margin: 0 auto;
    width:600px;
    height: 1200px;
    border: 3px solid black;
    border-radius:10px;
}

header {
    height: 150px;
    background-image: url("./images/burger.png");
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 46px;
}

.header-text {
    margin: 0;
}

.item-details {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #d3d3d3;
}

.order-pic {
    width: 50px;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    
}

.food-title {
    font-size: 1.25rem;
    margin: 20px 5px 5px 0;
}

.food-ingredient {
    font-size: 1rem;
    width: 150px;
    margin: 10px 5px 5px 0;
    color: #d3d3d3;
}

.food-price {
    margin: 10px 5px 5px 0;
    font-weight: bold;
}

.add-btn {
    padding:10px 15px;
    border-radius:50%;
    margin: 40px 20px 0 20px;
    border: 2px solid #d3d3d3;
    cursor: pointer;
}
/*Payment Modal*/
.popup{
    margin: 0 auto;
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 6px;
    text-align: center;
    z-index: 10;
    transform: translate(-50%,50%) scale(0);
    transition: 200ms ease-in-out, top 0.4s;
    position: absolute;
    top: 0;
    left: 50%;
}

.open-popup {
    top: 30%;
    transform: translate(-50%,50%) scale(1);
}

.popup h3{
    margin: 15px;
    font-size: 1.75rem;
    font-family: sans-serif;
}

.popup input {
    border: 2px solid lightgray;
    box-sizing: border-box;
    margin: 10px auto;
    width: 350px;
    padding: 20px 30px;
}

.btn{
    width:350px;
    background-color:#16DB99;
    font-size:1.5rem;
    font-weight: bold;
    color: white;
    border:none;
    padding:15px 30px;
    margin: 10px auto; 
    cursor: pointer;
}
/*to be active when modal is open*/
#overlay {
    position: fixed;
    opacity: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
    transition: 200ms ease-in-out;
}

#overlay.active{
    pointer-events: all;
    opacity: 1;
}

/*order container hidden until cart has 1 item*/
#order-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    text-align: center;
}

#order-header {
    text-align: center;
}

#order-section {
    width: 530px;
    margin: 0 35px;
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.order-btn { 
    width:500px;
    background-color:#16DB99;
    font-size:1.5rem;
    font-weight: bold;
    color: white;
    border:none;
    padding:15px 30px;
    margin: 50px auto;
    cursor: pointer;
}

#food {
    font-weight: bold;
}

#price{
    font-weight: bold;
}

#item{
    font-weight: bold;
}

